.searchBarContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.searchTextInput {
	flex: 2;
	flex-grow: 0;
	border: 1px solid $gray-600;
	border-width: $border-width;
	width: 100%;
}

$block-padding-hoz: 6px;
.searchButton {
	background: #f7f7f7;
	padding-left: $block-padding-hoz;
	padding-right: $block-padding-hoz;
	border-width: $border-width;
	margin: 4px;
	color: $black;
	width: auto;
}
